<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Detalhes'}) %>
<body>
	<div>
		<h2>Detalhe do produto: <%= productFound.name %></h2>

		<div>
			<img src="/images/products/<%= productFound.image %>" alt="product image">
			<p><%= productFound.description %></p>
			
			<h2><%= productFound.name %></h2>
			<p><%= formatPrice(productFound.price) %></p>
			<a href="/products/edit/<%= productFound.id %>">EDITAR PRODUTO</a>
			
			<form action="/products/delete/<%= productFound.id %>?_method=DELETE" method="POST">
				<button type="submit">APAGAR</button>
			</form>
		</div>
	</div>
</body>	
</html>