<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Produtos'}) %>
<body>
	<p>Bem vindo(a) <strong><%= userSession.name %></strong></p>

	<a href="/products/create">Criar novo produto</a>

	<h2 class="products-title">Todos os produtos</h2>

	<% products.forEach((product) => { %>
		<div>
			<section>
				<a href="/products/detail/<%= product.id %>">
					<img src="/images/products/<%= product.image %>" alt="imagem do produto">
					
					<article>
						<h2><%= formatPrice(product.price) %></h2>
						<span><%= product.discount %> %OFF</span>
						<p><%= product.name %></p>
					</article>
				</a>
			</section>
		</div>
	<% }) %>
</body>	
</html>
